<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deportes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/style.css" />
</head>

<body>

  <!-- Contenedor principal -->
  <main class="main-container">
    <h1>Agregar deportes</h1>
    
    <div action="/agregar" class="p-4 add-container">

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input id="nombre" type="text" class="form-control" name="nombre" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Precio</label>
        <div class="col-sm-10">
          <input id="precio" type="text" class="form-control" precio="precio" />
        </div>
      </div>

      <button class="btn btn-info" onclick="agregar()">Agregar</button>

    </div>
  </div>

  <!-- Tabla de deportes -->
  <h2 class="text-center my-4">Deportes registrados</h2>
  
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Edición</th>
      </tr>
    </thead>
    <tbody id="cuerpo"></tbody>
  </table>

  <!-- Modal de edición -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="rounded p-4">

          <form>

            <!-- ID -->
            <div class="form-group row"> 
              <label class="col-sm-2 col-form-label">ID</label>
              <div class="col-sm-10">
                <input id="idModal" disabled type="text" class="form-control" name="id" />
              </div>
            </div>

            <!-- Nombre -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input id="nombreModal" type="text" class="form-control" name="nombre" />
              </div>
            </div>

            <!-- Precio -->
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Precio</label>
              <div class="col-sm-10">
                <input id="precioModal" type="text" class="form-control" precio="precio" />
              </div>
            </div>

            <!-- Botón de edición -->
            <button class="btn btn-warning" onclick="edit()">Editar</button>

          </form>

        </div>
      </div>
    </div>
  </main>


  <!-- Scripts -->
  <script src="https://kit.fontawesome.com/d85944cffc.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <script src="../js/deportes.js"></script>

</body>

</html>